@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@500&display=swap');

body {
  font-family: "Raleway", "Georgia", sans-serif;
  font-size: 16px;
  color: #222;
  line-height: 2;
  max-width: 960px;
  margin: 20px auto;
  background-color: rgb(193,196,175);
}

a,
a:link {
  color: rgb(193,196,175);
}

a:visited {
  color: rgb(201,143,57);
}

a:hover {
  color: rgb(147,184,177);
}

a:active {
  color: rgb(104,114,55);
}

h2 {
  font-family: "Raleway", "Georgia", sans-serif;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 5px;
}

h3 {
  font-family: "Raleway", "Georgia", sans-serif;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
}

p {
  font-family: "Georgia", sans-serif;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 5px;
}

ul {
  text-align: left;
  line-height: 1.5;
}

header {
  font-family: "Bebas Neue", sans-serif;
  font-size: 25px;
  margin-bottom: 0px;
  text-align: center;
}

nav {
    background-color: rgb(55,79,81);
    padding: 10px;
    margin-bottom: 10px;
    max-width: 960px;
    min-width: 800px;
    position: sticky;
    top: 0px;
    align-content: center;
  }

  main {
    max-width: 960px;
    width: auto;
    margin: 5px;
    overflow: auto;
  }

  #navlist {
      margin: 0;
      list-style-type: none;
      padding-left: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      overflow: auto;
    }


#headshot {
  display: flex;
}

#aw-5 {
  float: left;
}

#aw-1 {
  float: right;
}

#aw-9 {
  float: left;
}
