@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@500&display=swap');

body {
  font-family: "Raleway", "Georgia", sans-serif;
  font-size: 16px;
  color: #222;
  line-height: 2;
  max-width: 960px;
  padding-top: 180px;
  margin: 20px auto;
  background-color: rgb(193,196,175);
  overflow: visible;
}

a,
a:link {
  color: rgb(193,196,175);
}

a:visited {
  color: rgb(201,143,57);
}

a:hover {
  color: rgb(147,184,177);
}

a:active {
  color: rgb(104,114,55);
}

h2 {
  font-family: "Raleway", "Georgia", sans-serif;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 35px;
  text-align: center;
  padding: 0px;
}

h3 {
  font-family: "Raleway", "Georgia", sans-serif;
  font-size: 20px;
  margin-bottom: 5px;
  text-align: center;
  padding: 10px;
}

p {
  font-family: "Georgia", sans-serif;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 5px;
}

main {
  max-width: 960px;
  height: auto;
  position: relative;
  min-width: 900px;
  }

header {
  background-color: rgb(193,196,175);
  color: rgb(55,79,81);
  font-family: "Bebas Neue", sans-serif;
  line-height:1;
  word-spacing: 2px;
  font-size: 25px;
  text-align: right;
  padding:10px;
  padding-top: 0;
  padding-bottom: 20px;
  height: 150px;
  max-width: 960px;
  overflow: auto;
  position: fixed;
  top: 0px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "h1" "nav" ;
  z-index: 20;

}

h1 {
  grid-area: h1;
  font-size: 54px;
  width: 350px;
  height: 50px;
}

nav {
    grid-area: nav;
    height: 200px;
    padding: 5px;
    padding-left: 40px;
    padding-left: 20px;
    position: fixed;
    top: 15px;
    overflow: auto;
    display: inline-block;
  }

figcaption {
  font-family: "Georgia", sans-serif;
  font-size: 8px;
  color: rgb(55,79,81);
  text-align: center;
  overflow: visible;
}

footer p {
  color: rgb(55,79,81);
  font-family: "Georgia", sans-serif;
  font-size: 12px;
  padding: 35px;
  text-align: center;
}

#navlist {
    background-color: rgb(55,79,81);
    line-height: 2;
    letter-spacing: 1.5px;
    border: none;
    padding: 15px;
    width: 450px;
    font-size: 20px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow:auto;
    position: fixed;
    }

#headshot {
  width: 350px;
  float: right;
  margin: 10px;
  padding-top: 5px;
}

#introduction p {
  text-indent: 40px;
  max-width:700px;
  margin-left: 70px;
  padding-left: 50px;
  padding-right: 50px;

}

#chels-gallery {
  margin-left: 70px;
  min-width: 800px;
  max-width: 960px;
  overflow: visible;
  display: grid;
  grid-template-columns: repeat(20, 40px);
  grid-template-rows: repeat(26, 50px);
}

#chels-1 {
  grid-column: 1 / 10;
  grid-row:8;
}

#chels-2 {
  grid-column: 1 / 9;
  grid-row: 1;
}

#chels-3 {
  grid-column: 13 / 19;
  grid-row: 1;
}

#chels-4 {
  grid-column: 11 / 18;
  grid-row: 20;
}

#chels-5 {
  grid-column: 1 / 8;
  grid-row: 14;
}

#chels-6 {
  grid-column: 12 / 18;
  grid-row: 10;
}

#product-gallery {
  margin-left: 70px;
  min-width: 800px;
  max-width: 960px;
  overflow: visible;
  display: grid;
  grid-template-columns: repeat(20, 40px);
  grid-template-rows: repeat(26, 50px);
}

  #aw-1 {
    grid-column: 1 / 8;
    grid-row: 1;
  }

  #aw-2 {
    grid-column: 1 / 10;
    grid-row: 21;
  }

  #aw-3 {
    grid-column: 15 / 21;
    grid-row: 15;
  }

  #aw-5 {
    grid-column: 8 / 14;
    grid-row: 1;
  }

  #aw-6 {
    grid-column: 1 / 8;
    grid-row: 6;
  }

  #aw-7 {
    grid-column: 8 / 14;
    grid-row: 8;
  }

  #aw-8 {
    grid-column: 15 / 20;
    grid-row: 9;
  }

  #aw-9 {
    grid-column: 13 / 21;
    grid-row: 1;
  }

  #aw-10 {
    grid-column: 1 / 8;
    grid-row: 14;
  }

  #aw-11 {
    grid-column: 7 / 14;
    grid-row: 16;
  }

  #aw-12 {
    grid-column: 7 / 14;
    grid-row: 23;
  }

  #aw-13 {
    grid-column: 15 / 21;
    grid-row: 21;
  }

#digital-gallery {
  margin-left: 70px;
  min-width: 800px;
  max-width: 960px;
  overflow: visible;
  display: grid;
  grid-template-columns: repeat(20, 40px);
  grid-template-rows: repeat(28, 50px);
}

#digital-1 {
  grid-column: 1 / 9;
  grid-row: 1;
}

#digital-2 {
  grid-column: 8 / 14;
  grid-row: 9;
}

#digital-3 {
  grid-column: 8 / 15;
  grid-row: 1;
}

#digital-4 {
  grid-column: 14 / 21;
  grid-row: 6;
}

#digital-5 {
  grid-column: 1 / 12;
  grid-row: 16;
}

#digital-6 {
  grid-column: 1 / 8;
  grid-row: 9;
}

#digital-7 {
  grid-column: 14 / 21;
  grid-row: 1;
}

#digital-8 {
  grid-column: 14 / 21;
  grid-row: 21;
}

#digital-9 {
  grid-column: 1 / 9;
  grid-row: 24;
}

#digital-10 {
  grid-column: 14 / 21;
  grid-row: 14;
}

#digital-11 {
  grid-column: 9 / 15;
  grid-row: 23;
}

#film-gallery {
  margin-left: 70px;
  min-width: 800px;
  max-width: 960px;
  overflow: visible;
  display: grid;
  grid-template-columns: repeat(20, 40px);
  grid-template-rows: repeat(22, 50px);
}

#film-1 {
  grid-column: 1 / 8;
  grid-row: 9;
}

#film-2 {
  grid-column: 1 / 10;
  grid-row: 1;
}

#film-3 {
  grid-column: 14 / 21;
  grid-row: 1;
}

#film-4 {
  grid-column: 1 / 10;
  grid-row: 17;
}

#film-5 {
  grid-column: 8 / 15;
  grid-row: 1;
}

#film-6 {
  grid-column: 7 / 14;
  grid-row: 9;
}

#film-7 {
  grid-column: 11 / 20;
  grid-row: 17;
}

#film-8 {
  grid-column: 14 / 20;
  grid-row: 9;
}

#video-gallery {
    max-width: 800px;
    overflow: visible;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin-left: 40px;
  }
